<div class="container detalhe">
  <div class="row" style="margin-top: 3em">
    <div class="col-sm-3">
      <div>
        <img class="rounded img-fluid mx-auto"
             [src]="usuario?.foto||'https://firebasestorage.googleapis.com/v0/b/querotrampar-1787d.appspot.com/o/icon2-min.jpg?alt=media&token=83b326ee-cf9f-4228-8e39-e0fa0695f15c'">
      </div>
      <div *ngIf="authService.isAdministrator()">
        <hr>
        <a class="btn btn-block btn-sm btn-outline-warning"
           [routerLink]="['/profissionais/'+usuario.uid+'/alterar']"
           routerLinkActive="active">Alterar</a>
        <button
          *ngIf="usuario.ativo && !authService.isAdministratorWithUID(usuario.uid)"
          class="btn btn-block btn-sm btn-outline-danger"
          type="button"
          data-toggle="modal"
          data-target="#desativarPerfil"
          data-whatever="@mdo">Desativar Perfil
        </button>
      </div>
      <div *ngIf="authService.isAuthenticated() && usuario?.ativo && !authService.isMe(usuario?.uid)">
        <hr>
        <div style="margin-top: 0.5em">
          <button
            class="btn btn-sm btn-outline-info btn-block"
            data-toggle="modal"
            data-target="#enviarMensagem"
            data-whatever="@mdo">
            Enviar Mensagem
          </button>
        </div>

        <div style="margin-top: 0.5em">
          <button
            class="btn btn-sm btn-block"
            [ngClass]="{
              'btn-outline-danger': usuarioService.isFavorito(usuario?.uid),
              'btn-outline-warning': !usuarioService.isFavorito(usuario?.uid)
            }"
            (click)="favoritar()">
            {{usuarioService.isFavorito(usuario?.uid)?'Desfavoritar':'Favoritar'}}
          </button>
        </div>

        <div style="margin-top: 0.5em">
          <button
            class="btn btn-outline-primary btn-sm btn-block"
            data-toggle="modal"
            data-target="#avaliar"
            data-whatever="@mdo">
            Avaliar
          </button>
        </div>
      </div>

      <div *ngIf="!usuario?.ativo">
        <hr>
        <div style="margin-top: 0.5em">
          <button
            class="btn btn-secondary btn-block">
            Perfil Inativo
          </button>
        </div>

      </div>

      <hr>
      <nav class="nav flex-column nav-pills" id="myTab">

        <a class="btn-outline-dark nav-item nav-link active"
           id="nav-perfil-tab"
           data-toggle="tab"
           href="#nav-perfil"
           role="tab"
           aria-controls="nav-perfil">Dados Básicos</a>

        <div *ngIf="authService.isAuthenticated()">
          <a class="btn-outline-dark nav-item nav-link"
             id="nav-categorias-tab"
             data-toggle="tab"
             href="#nav-categorias"
             role="tab"
             aria-controls="nav-categorias">Áreas de Atuação</a>

          <a class="btn-outline-dark nav-item nav-link"
             id="nav-contato-tab"
             data-toggle="tab"
             href="#nav-contato"
             role="tab"
             aria-controls="nav-contato">Contato</a>

          <a class="btn-outline-dark nav-item nav-link"
             id="nav-endereco-tab"
             data-toggle="tab"
             href="#nav-endereco"
             role="tab"
             aria-controls="nav-endereco">Endereço</a>

          <a *ngIf="usuario.autonomo"
             class="btn-outline-dark nav-item nav-link"
             id="nav-avaliacao-tab"
             data-toggle="tab"
             href="#nav-avaliacao"
             role="tab"
             aria-controls="nav-avaliacao">Avaliação</a>

          <a class="btn-outline-dark nav-item nav-link"
             id="nav-servicosdisponibilizados-tab"
             data-toggle="tab"
             href="#nav-servicosdisponibilizados"
             role="tab"
             aria-controls="nav-servicosdisponibilizados">Serviços Disponibilizados</a>

          <a class="btn-outline-dark nav-item nav-link"
             id="nav-observacao-tab"
             data-toggle="tab"
             href="#nav-observacao"
             role="tab"
             aria-controls="nav-observacao">Outras Informações</a>
        </div>
        <hr>
      </nav>
    </div>
    <div class="col-sm-9">

      <ng-template [ngIf]="!authService.isAuthenticated()">
        <div class="alert alert-info" role="alert">
          <h4 class="alert-heading">Olá Visitante</h4>
          <p>Para mais informações desse {{usuario.autonomo?'profissional':'solicitante'}}, é necessário que você esteja
            logado no site</p>
          <p>Estando logado, você tem acesso aos dados para contato com este
            {{usuario.autonomo?'profissional':'solicitante'}}, assim como, opção para visualizar suas áreas de atuação,
            endereço, avaliações, serviços disponibilizados e outras informações</p>
          <hr>
          <p class="mb-0"><a routerLink="/login" class="alert-link">Clique aqui!</a> para fazer login.</p>
        </div>
      </ng-template>

      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-perfil" role="tabpanel" aria-labelledby="nav-perfil-tab">
          <div class="form-group detalhe-form-group">
            <h5 class="card-title">Nome</h5>
            <h3>{{usuario.nome}}</h3>
          </div>

          <div *ngIf="usuario.autonomo"
               class="form-group detalhe-form-group">
            <h5 class="card-title">Descrição Profissional</h5>
            <p class="lead">“{{usuario.descricao || 'Sem descrição informada'}}”</p>
          </div>
        </div>

        <div class="tab-pane fade" id="nav-categorias" role="tabpanel" aria-labelledby="nav-categorias-tab">
          <div class="form-group detalhe-form-group">

            <h5 class="card-title">Áreas de Atuação</h5>

            <ng-template [ngIf]="!usuario.categorias?.length">
              <div class="alert alert-secondary" role="alert">
                Nenhuma área de atuação informada
              </div>
            </ng-template>

            <ng-template [ngIf]="usuario.categorias?.length">
              <ul class="list-group col-sm-6">
                <li style="padding: 0.5em;font-size: large"
                    class="list-group-item list-group-item-light detalhe-item"
                    *ngFor="let categoria of usuario.categorias">
                  <i class="fa fa-star fa-1x"></i>
                  <strong>{{categoria.descricao}}</strong>
                </li>
              </ul>
            </ng-template>
          </div>
        </div>
        <div class="tab-pane fade" id="nav-contato" role="tabpanel" aria-labelledby="nav-contato-tab">


          <div class="form-group detalhe-form-group">
            <h5 class="card-title">E-mail</h5>
            <p class="lead">{{usuario.email|lowercase}}</p>
          </div>


          <div class="form-group detalhe-form-group">
            <h5 class="card-title">Fones</h5>
            <ng-template [ngIf]="!usuario.fones?.length">
              <div class="alert alert-secondary" role="alert">
                Nenhum contato informado
              </div>
            </ng-template>

            <ng-template [ngIf]="usuario.fones?.length">
              <div class="list-group col-sm-4">
                <a style="padding: 0.5em;font-size: large"
                   href="tel:{{fone}}"
                   class="list-group-item list-group-item-light detalhe-item"
                   *ngFor="let fone of usuario.fones">
                  <i class="fa fa-phone fa-1x"></i>
                  <strong>{{coreService.mascaraFone(fone)}}</strong>
                </a>
              </div>
            </ng-template>
          </div>

          <div class="form-group detalhe-form-group">
            <h5 class="card-title">Links</h5>
            <ng-template [ngIf]="!usuario.links?.length">
              <div class="alert alert-secondary" role="alert">
                Nenhum link informado
              </div>
            </ng-template>

            <ng-template [ngIf]="usuario.links?.length">
              <div class="btn-group btn-group-lg" role="group">
                <a [href]="link.url"
                   target="_blank"
                   [title]="link.nome"
                   class="btn btn-secondary list-group-item-action"
                   [ngClass]="coreService.aplicaCssLinkListGroupItem(link.tipo)"
                   *ngFor="let link of usuario.links">
                  <i class="fa fa-2x" [ngClass]="coreService.aplicaCssLinkIcon(link.tipo)"></i>
                </a>
              </div>
            </ng-template>
          </div>
        </div>
        <div class="tab-pane fade" id="nav-endereco" role="tabpanel" aria-labelledby="nav-endereco-tab">
          <ng-template
            [ngIf]="!usuario.endereco?.rua && !usuario.endereco?.cidade && !usuario.endereco?.complemento && !usuario.endereco?.maps.lat">
            <h5 class="card-title">Endereço</h5>
            <div class="alert alert-secondary" role="alert">
              Endereço não informado
            </div>
          </ng-template>

          <div *ngIf="usuario.endereco?.rua"
               class="form-group detalhe-form-group">
            <h5 class="card-title">Endereço</h5>
            <p class="lead"> {{usuario.endereco?.rua}}{{usuario.endereco?.numero?', '+
              usuario.endereco?.numero:''}} - {{usuario.endereco?.bairro}}</p>
          </div>

          <div *ngIf="usuario.endereco?.cidade"
               class="form-group detalhe-form-group">
            <h5 class="card-title">Cidade</h5>
            <p class="lead"> {{usuario.endereco?.cidade}}, {{usuario.endereco?.cep}} -
              {{usuario.endereco?.estado | uppercase}}</p>
          </div>

          <div *ngIf="usuario.endereco?.complemento"
               class="form-group detalhe-form-group">
            <h5 class="card-title">Complemento</h5>
            <p class="lead"> {{usuario.endereco?.complemento}}</p>
          </div>

          <div *ngIf="usuario.endereco?.maps.lat" class="form-group detalhe-form-group">
            <h5 class="card-title">Localização</h5>
            <div #maps id="maps"></div>
          </div>
        </div>
        <div class="tab-pane fade" id="nav-avaliacao" role="tabpanel" aria-labelledby="nav-avaliacao-tab">

          <ng-template [ngIf]="usuario.avaliacoes">
            <div class="form-group detalhe-form-group">
              <h5 class="card-title">Nota</h5>
              <div class="container">
                <div class="row">
                  <div class="col-sm detalhe-item">
                    <star-rating-comp
                      [starType]="'svg'"
                      [rating]="usuarioService.getMediaAvaliacoes(usuario.avaliacoes)"
                      [readOnly]="true"
                      [step]="0.5"
                      [numOfStars]="5"
                      [showHalfStars]="true">
                    </star-rating-comp>
                  </div>
                </div>
              </div>

              <div class="container">
                <div class="row">
                  <div class="col-sm detalhe-item">
                    <star-rating-comp
                      [starType]="'svg'"
                      [rating]="usuarioService.getMediaAvaliacaoServico(this.coreService.getValuesFromObject(usuario.avaliacoes))"
                      [labelPosition]="'top'"
                      [labelText]="'Serviço'"
                      [readOnly]="true"
                      [step]="0.5"
                      [numOfStars]="5"
                      [showHalfStars]="true">
                    </star-rating-comp>
                  </div>

                  <div class="col-sm detalhe-item">
                    <star-rating-comp
                      [starType]="'svg'"
                      [rating]="usuarioService.getMediaAvaliacaoPreco(this.coreService.getValuesFromObject(usuario.avaliacoes))"
                      [labelPosition]="'top'"
                      [labelText]="'Preço'"
                      [readOnly]="true"
                      [step]="0.5"
                      [numOfStars]="5"
                      [showHalfStars]="true">
                    </star-rating-comp>
                  </div>
                  <div class="col-sm detalhe-item">
                    <star-rating-comp
                      [starType]="'svg'"
                      [rating]="usuarioService.getMediaAvaliacaoAtendimento(this.coreService.getValuesFromObject(usuario.avaliacoes))"
                      [labelPosition]="'top'"
                      [labelText]="'Atendimento'"
                      [readOnly]="true"
                      [step]="0.5"
                      [numOfStars]="5"
                      [showHalfStars]="true">
                    </star-rating-comp>
                  </div>
                  <div class="col-sm detalhe-item">
                    <star-rating-comp
                      [starType]="'svg'"
                      [rating]="usuarioService.getMediaAvaliacaoApresentacao(this.coreService.getValuesFromObject(usuario.avaliacoes))"
                      [labelPosition]="'top'"
                      [labelText]="'Apresentação'"
                      [readOnly]="true"
                      [step]="0.5"
                      [numOfStars]="5"
                      [showHalfStars]="true">
                    </star-rating-comp>
                  </div>
                  <div class="col-sm detalhe-item">
                    <star-rating-comp
                      [starType]="'svg'"
                      [rating]="usuarioService.getMediaAvaliacaoPontualidade(this.coreService.getValuesFromObject(usuario.avaliacoes))"
                      [labelPosition]="'top'"
                      [labelText]="'Pontualidade'"
                      [readOnly]="true"
                      [step]="0.5"
                      [numOfStars]="5"
                      [showHalfStars]="true">
                    </star-rating-comp>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>

          <div class="form-group detalhe-form-group">
            <h5 class="card-title">Avaliação</h5>
            <ng-template [ngIf]="!usuario.avaliacoes">
              <div class="alert alert-secondary" role="alert">
                Nenhuma avaliação Disponível
              </div>
            </ng-template>

            <ng-template [ngIf]="usuario.avaliacoes">
              <app-avaliacao-item
                *ngFor="let avaliacao of coreService.getValuesFromObject(usuario.avaliacoes)"
                [avaliacao]="avaliacao">
              </app-avaliacao-item>
            </ng-template>
          </div>
        </div>

        <div class="tab-pane fade" id="nav-servicosdisponibilizados" role="tabpanel"
             aria-labelledby="nav-servicosdisponibilizados-tab">
          <div class="form-group detalhe-form-group">
            <h5 class="card-title">Serviços Disponibilizados</h5>

            <ng-template [ngIf]="!usuario.servicosDisponibilizados">
              <div class="alert alert-secondary" role="alert">
                Nenhum serviço disponibilizado
              </div>
            </ng-template>

            <ng-template [ngIf]="usuario.servicosDisponibilizados">
              <ul class="list-group col-sm-7">
                <app-perfil-servico-disponibilizado
                  *ngFor="let servico of coreService.getValuesFromObject(usuario.servicosDisponibilizados)"
                  [uid]="servico">
                </app-perfil-servico-disponibilizado>
              </ul>
            </ng-template>
          </div>
        </div>
        <div class="tab-pane fade" id="nav-observacao" role="tabpanel" aria-labelledby="nav-observacao-tab">

          <div class="form-group detalhe-form-group">
            <h5 *ngIf="usuario.autonomo"
                class="form-control-label">
              Aceita pagamento com cartão?
            </h5>

            <div class="form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" [checked]="usuario.aceitaCartao" disabled>
                Sim
              </label>
            </div>
            <div class="form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" [checked]="!usuario.aceitaCartao" disabled>
                Não
              </label>
            </div>
          </div>

          <div class="form-group detalhe-form-group">
            <h5 class="card-title">Observação</h5>
            <p class="lead">“{{usuario.observacao || 'Nenhuma observação disponível'}}”</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="enviarMensagem" tabindex="-1" role="dialog" aria-labelledby="enviarMensagemLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="enviarMensagemLabel">Enviar Mensagem</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="bottom_wrapper clearfix">
          <div class="message_input_wrapper">
              <textarea
                #mensagemInput
                class="message_input"
                #mensagem
                placeholder="Digite sua mensagem aqui..."></textarea>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-outline-secondary" data-dismiss="modal">Cancelar</button>
        <button class="btn btn-outline-primary" data-dismiss="modal" (click)="enviarMensagem(mensagem.value)">Enviar
          Mensagem
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="avaliar" tabindex="-1" role="dialog" aria-labelledby="avaliarLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content alert alert-primary">

      <div class="modal-header">
        <h5 class="modal-title alert-heading" id="avaliarLabel">Avaliação</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="lead">
          Se você já contratou este profissional, sua avaliação é muito
          bem-vinda, ela ajudará o profissional e pessoas como você.
        </p>
        <div class="form-group">
          <label class="form-control-label" for="preco">
            Preço?
          </label>
          <star-rating-comp
            id="preco"
            #preco
            [starType]="'svg'"
            [rating]="3"
            [step]="1"
            [numOfStars]="5"
            [showHalfStars]="true">
          </star-rating-comp>
        </div>
        <div class="form-group">
          <label class="form-control-label" for="apresentacao">
            Apresentação?
          </label>
          <star-rating-comp
            id="apresentacao"
            #apresentacao
            [starType]="'svg'"
            [rating]="3"
            [step]="1"
            [numOfStars]="5"
            [showHalfStars]="true">
          </star-rating-comp>
        </div>
        <div class="form-group">
          <label class="form-control-label" for="atendimento">
            Atendimento?
          </label>
          <star-rating-comp
            id="atendimento"
            #atendimento
            [starType]="'svg'"
            [rating]="3"
            [step]="1"
            [numOfStars]="5"
            [showHalfStars]="true">
          </star-rating-comp>
        </div>
        <div class="form-group">
          <label class="form-control-label" for="pontualidade">
            Pontualidade?
          </label>
          <star-rating-comp
            id="pontualidade"
            #pontualidade
            [starType]="'svg'"
            [rating]="3"
            [step]="1"
            [numOfStars]="5"
            [showHalfStars]="true">
          </star-rating-comp>
        </div>
        <div class="form-group">
          <label class="form-control-label" for="servico">
            Serviço?
          </label>
          <star-rating-comp
            id="servico"
            #servico
            [starType]="'svg'"
            [rating]="3"
            [step]="1"
            [numOfStars]="5"
            [showHalfStars]="true">
          </star-rating-comp>
        </div>
        <div class="form-group">
          <label class="form-control-label" for="texto">
            Avalie este Profissional
          </label>
          <textarea
            id="texto"
            #texto
            class="form-control"
            placeholder="Digite aqui uma avaliação sobre este profissional"
            rows="5"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-outline-secondary"
                data-dismiss="modal">Cancelar
        </button>
        <button class="btn btn-outline-primary"
                data-dismiss="modal"
                (click)="avaliar(
                  preco.ratingAsInteger,
                  apresentacao.ratingAsInteger,
                  atendimento.ratingAsInteger,
                  pontualidade.ratingAsInteger,
                  servico.ratingAsInteger,
                  texto.value)">Enviar Avaliação
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="desativarPerfil" tabindex="-1" role="dialog" aria-labelledby="desativarPerfilLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content alert alert-danger">
      <div class="modal-header alert alert-danger">
        <h5 class="modal-title alert-heading" id="desativarPerfilLabel">Atenção</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Deseja realmente desativar seu perfil?</p>
        <hr>
        <p class="mb-0">Seu perfil não poderá ser ativado novamente!</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-outline-secondary" data-dismiss="modal">Cancelar</button>
        <button class="btn btn-outline-danger" data-dismiss="modal" (click)="desativar()">Desativar</button>
      </div>
    </div>
  </div>
</div>




