<div class="container detalhe">
  <div class="container marketing">
    <div class="row" style="margin-top: 5em">
      <div class="col-md-7">
        <h2 class="featurette-heading">O que é o <strong
          style="font-family: 'Poiret One', cursive;">QueroTrampar</strong>?
        </h2>
        <p class="lead"><strong style="font-family: 'Poiret One', cursive;">QueroTrampar</strong> é um site destinado à
          busca de Profissionais e Serviços em sua região.
          Encontre agora mesmo os profissionais qualificados para suas necessidades, busque ou disponibilize
          seu serviço, ou crie seu perfil profissional para divulgarmos você.</p>
      </div>
      <div class="col-md-5">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row">
      <div class="col-md-5">
        <img
          class="featurette-image img-fluid mx-auto detalhe-item"
          data-src="holder.js/500x500/auto"
          src="https://firebasestorage.googleapis.com/v0/b/querotrampar-1787d.appspot.com/o/profissional-min.jpg?alt=media&token=65c9c373-e8c2-4f51-9b92-5faf156b4ffd"
          alt="Profissional">
      </div>
      <div class="col-md-7">
        <h2 class="featurette-heading">Está buscando por um Profissional em sua Região? <span
          class="text-muted">Você acaba de encontrar!</span></h2>
        <p class="lead">O <strong style="font-family: 'Poiret One', cursive;">QueroTrampar</strong> é um site destinado
          à busca de profissionais das mais diversas áreas de atuação,
          buscando os profissionais mais bem classificados.
          Com a possibilidade de estar agendando uma data diretamente com o
          profissional.
        </p>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row">
      <div class="col-md-7">
        <h2 class="featurette-heading">Busca por um Serviço em sua Região? <span
          class="text-muted">Opaa! aqui temos varios deles!</span>
        </h2>
        <p class="lead">O <strong style="font-family: 'Poiret One', cursive;">QueroTrampar</strong> é também um site
          destinado à busca e disponibilização de serviços,
          onde os profissionais podem encontrar os serviços disponibilizados por você e estarem se candidatando à vaga.
        </p>
      </div>
      <div class="col-md-5">
        <img
          class="featurette-image img-fluid mx-auto detalhe-item"
          style="clip: rect(0,500px,500px,0);"
          data-src="holder.js/500x500/auto"
          src="https://firebasestorage.googleapis.com/v0/b/querotrampar-1787d.appspot.com/o/servico-min.jpg?alt=media&token=0c747535-d5f2-4316-85dc-91cfa18e1a0b"
          alt="Serviço">
      </div>
    </div>

    <hr class="featurette-divider">

    <footer>
      <a href="#" class="btn btn-outline-warning btn-sm float-right active">Voltar ao Topo</a>
      <p>&copy; 2017 Por <strong style="font-family: 'Poiret One', cursive;">QueroTrampar</strong>.</p>
    </footer>

  </div>
</div>
