.kpx_login .kpx_authTitle {
  text-align: center;
  padding: 1.5em;
}

.kpx_center {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.kpx_login .kpx_socialButtons a {
  color: white;
/ / In yourUse @body-bg opacity: 0.9;
}

.kpx_login .kpx_socialButtons a:hover {
  color: white;
  opacity: 1;
}

.kpx_login .kpx_socialButtons .kpx_btn-facebook {
  background: #3b5998;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.kpx_login .kpx_socialButtons .kpx_btn-facebook:hover {
  background: #172d5e
}

.kpx_login .kpx_socialButtons .kpx_btn-facebook:focus {
  background: #fff;
  color: #3b5998;
  border-color: #3b5998;
}

.kpx_login .kpx_socialButtons .kpx_btn-twitter {
  background: #00aced;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.kpx_login .kpx_socialButtons .kpx_btn-twitter:hover {
  background: #043d52
}

.kpx_login .kpx_socialButtons .kpx_btn-twitter:focus {
  background: #fff;
  color: #00aced;
  border-color: #00aced;
}

.kpx_login .kpx_socialButtons .kpx_btn-google-plus {
  background: #c32f10;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.kpx_login .kpx_socialButtons .kpx_btn-google-plus:hover {
  background: #6b1301
}

.kpx_login .kpx_socialButtons .kpx_btn-google-plus:focus {
  background: #fff;
  color: #c32f10;
  border-color: #c32f10
}

.kpx_login .kpx_socialButtons .kpx_btn-github {
  background: #666666;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.kpx_login .kpx_socialButtons .kpx_btn-github:hover {
  background: #333333
}

.kpx_login .kpx_socialButtons .kpx_btn-github:focus {
  background: #fff;
  color: #666666;
  border-color: #666666
}

.kpx_login .kpx_loginOr {
  position: relative;
  font-size: 1.5em;
  color: #aaa;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.kpx_login .kpx_loginOr .kpx_hrOr {
  background-color: #cdcdcd;
  height: 1px;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.kpx_login .kpx_loginOr .kpx_spanOr {
  display: block;
  position: absolute;
  left: 50%;
  top: -0.9em;
  margin-left: -1.5em;
  background-color: white;
  width: 3em;
  text-align: center;
}

.kpx_login .kpx_loginForm .input-group.i {
  width: 2em;
}

.kpx_login .kpx_loginForm .help-block {
  color: red;
}

@media (min-width: 768px) {
  .kpx_login .kpx_forgotPwd {
    text-align: right;
    margin-top: 10px;
  }
}
