<div class="card">

  <div class="card-header">
    <a
      class="card-link"
      [routerLink]="['/profissionais', feedback.usuario]"
      routerLinkActive="active">
      <small
        class="badge pull-right"
        [ngClass]="coreService.aplicaCssTipoFeedback(feedback.tipo)">{{coreService.getTipoFeedback(feedback.tipo)}}
      </small>
      <h4 class="card-title">
        <img
          [src]="usuario?.foto||'https://firebasestorage.googleapis.com/v0/b/querotrampar-1787d.appspot.com/o/icon2-min.jpg?alt=media&token=83b326ee-cf9f-4228-8e39-e0fa0695f15c'"
          [alt]="usuario?.nome"
          class="avatar">
        {{ usuario?.nome | capitalize:true }}
      </h4>
    </a>
  </div>

  <div class="card-body">
    <small class="badge btn-sm badge-pill badge-secondary pull-right">{{getData(feedback.timestamp) | amTimeAgo}}
    </small>

    <blockquote class="blockquote mb-0">
      <p class="lead2">{{feedback.texto}}</p>
    </blockquote>
  </div>

  <!--<div *ngIf="authService.isAuthenticated()" class="card-footer">-->
    <!--<button-->
      <!--class="btn btn-sm btn-outline-success"-->
      <!--(click)="responder()">-->
      <!--Responder-->
    <!--</button>-->
  <!--</div>-->
</div>
