html {
  position: relative;
  min-height: 100%;
}

.img-responsive {
  margin: 0 auto;
}

body {
  background-color: #FFFFFF;
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}

.marketing {
  margin-bottom: 1.5rem;
  /*text-align: center;*/
}
.marketing h2 {
  font-weight: normal;
}
.marketing p {
  margin-right: .75rem;
  margin-left: .75rem;
}

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


@media (min-width: 40em) {
  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 0;
  }
}

.avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: inline-block;
}

.avatarMensagem {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-block;
}

#maps {
  width: 100%;
  height: 20em;
  background-color: #81D4FA;
}

.form-group {
  margin-bottom: 2em;
}

.input-group.col-sm-12,
.input-group.col-4 {
  padding-left: 0;
}

.input-busca {
  font-size: larger;
}

input:focus, button:focus, i:focus {
  outline: none;
  box-shadow: none !important;
}

a.list-group-item-light:focus,
a.list-group-item-light:hover,
button.list-group-item-light:focus,
button.list-group-item-light:hover {
  outline: none;
  box-shadow: none !important;
}

.btn-outline-dark:hover {
  background-color: #ffffff;
  color: #ffc107;
}

.fa-facebook,
.fa-twitter,
.fa-linkedin,
.fa-instagram,
.fa-google,
.fa-link,
.fa-github {
  width: 27.44px;
}

.footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  line-height: 40px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

#filtro {
  margin-top: 5px;
}

#buttonFiltrar{
  box-shadow: none !important;
}

a {
  color: #424242;
}

a:hover {
  color: #BDBDBD;
}

.lead {
  font-size: 1.6rem;
  font-weight: 300;
}

.lead2 {
  font-size: 1.25rem;
  font-weight: 200;
}

.navbar-brand, h1 {
  font-family: 'Poiret One', cursive;
}

/*.div-gray {*/
/*padding: 10px;*/
/*background-color: #5a5a5a;*/
/*opacity: 0.7;*/
/*border-radius: 10px;*/
/*}*/

.form-control[readonly] {
  background-color: #ffffff;
  opacity: 1;
}

.btn-outline-dark {
  box-shadow: none !important;
}

*:focus {
  outline: none!important;
}

.card-header {
  padding: 0;
  background-color: #ffffff;
}

.card-footer {
  background-color: #ffffff;
}

@media (min-width: 576px) {
  .card-columns {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}

.notificacao {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
}

.card, .jumbotron {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  border-radius: 0 0 15px 0;
}

.card {
  padding: 0.5em;
}

.jumbotron {
  padding: 1em;
}

.btn-outline-warning {
  box-shadow: none !important;
}

.detalhe {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  padding: 1em;
  border-bottom-right-radius: 20px;
}

.detalhe-form-group {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  padding: 1em;
  border-bottom-right-radius: 10px;
}

.detalhe-item {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  padding: 1em;
}

.rating {
  justify-content: left !important;
}

.form-control {
  /*font-family: 'Poiret One', cursive;*/
  font-family: -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
  color: #5a5a5a;
}

.blur {
  padding: 10px;
  background: #333;
  opacity: 0.7;
  border-radius: 10px;
}

.rounded {
  border-radius: 10px;
}

#lock {
  width: 20%;
  margin: 1.5em auto 4em auto;
  display: block;
}
