<div class="container detalhe">

  <h2 style="margin: 2em 0 1em 0">Notificações</h2>
  <ng-template [ngIf]="!notificacoes.length">
    <div class="alert alert-secondary" role="alert">
      Nenhuma notificação disponível
    </div>
  </ng-template>

  <ng-template [ngIf]="notificacoes.length">
    <ul class="list-group">
      <li
        style="cursor: pointer;"
        *ngFor="let notificacao of notificacoes; let i=index"
        class="list-group-item list-group-item-action flex-column align-items-start notificacao"
        [ngClass]="coreService.aplicaCssNotificacao(notificacao.visualizado)"
        (click)="marcarVisualizado(i)">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{notificacao.titulo}}</h5>
          <small>{{notificacao.timestamp}}</small>
        </div>
        <p class="mb-1">{{notificacao.descricao}}</p>

        <!--<footer class="blockquote-footer">Solicitante:-->
        <!--<a href="#/profissionais/{{notificacao.usuario?.uid}}">-->
        <!--<cite>{{notificacao.usuario?.nome}}</cite>-->
        <!--</a>-->
        <!--</footer>-->
      </li>
    </ul>
  </ng-template>
</div>
